.custom-cards {
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
}

#site-title, .custom-card {
    cursor: pointer;
}

.hidden {
    height: 0 !important;
    overflow: hidden !important;
}

#site-title {
    font-size: 2rem;
    cursor: pointer;
}

#site-title {
    margin-left: 100px;
    font-size: 2rem;
    cursor: pointer;
}