/* Styles for movie and person cards */
.movie-card {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}
/* Makes the title clickable with a pointer cursor */
#site-title {
    cursor: pointer;
}

/*Hide elements when search results are displayed*/
.hidden {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
}